<footer class="footer">
    <div class="footer-container">
        <!-- Left Side: Links Group -->
        <div class="footer-links-group">
            <div class="footer-section">
                <h3>Contacto</h3>
                <ul>
                    <li><a href="mailto:lmolino@ujaen.es">lmolino@ujaen.es</a></li>
                    <li><a href="https://www.linkedin.com/in/nlp-sinai/" target="_blank"
                            rel="noopener noreferrer">LinkedIn</a></li>
                    <li><a href="https://sinai.ujaen.es" target="_blank" rel="noopener noreferrer">SINAI</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Legal</h3>
                <ul>
                    <li><a href="privacidad">Privacidad</a></li>
                    <li><a href="terminos">Términos</a></li>
                    <li><a href="aviso-legal">Aviso Legal</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Info</h3>
                <ul>
                    <li><a href="./">Inicio</a></li>
                    <li><a href="performance">¿Cómo Funciona?</a></li>
                </ul>
            </div>
        </div>

        <!-- Right Side: Logos & Funding -->
        <div class="footer-logos-group">
            <div class="footer-logos">
                <a href="https://www.hospitaljaen.es/" target="_blank" rel="noopener noreferrer">
                    <img src="public/images/hospital.png" alt="Hospital Universitario de Jaén" />
                </a>
                <a href="https://www.ujaen.es" target="_blank" rel="noopener noreferrer">
                    <img src="public/images/uja.png" alt="Universidad de Jaén" />
                </a>
                <a href="https://sinai.ujaen.es" target="_blank" rel="noopener noreferrer">
                    <img src="public/images/sinai.png" alt="Grupo de investigación SINAI" />
                </a>
            </div>

            <div class="footer-funding">
                <p>Financiado por</p>
                <a href="https://www.juntadeandalucia.es/" target="_blank" rel="noopener noreferrer">
                    <img src="public/images/junta.png" alt="Junta de Andalucía" />
                </a>
            </div>
        </div>
    </div>
</footer>