    <header class="header">
    <div class="header-container">
        <div class="logo-container">
            <a href="./" class="logo" aria-label="Volver al inicio" title="Inicio" style="text-decoration: none;">
                <h1 class="logo">GALENO<span>-IA</span></h1>
            </a>
        </div>
        <nav class="main-nav">
            <ul class="menu">
                <li><a href="./">Inicio</a></li>
                <li><a href="generar">Genera</a></li>
                <li><a href="simplificar">Simplifica</a></li>
                <li><a href="performance">¿Cómo Funciona?</a></li>
            </ul>
        </nav>
        <div class="header-actions">
            <ul class="user-menu-container"></ul>
            <button class="menu-toggle" aria-label="Abrir menú">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
    </div>
</header>

<script src="public/js/header.js"></script>